body
{
    color:black;
    background-image: url(paper.jpg)
}

p::first-letter
{
    color:rgb(179, 108, 247);
    font-size: larger;
}

h1
{
    color:#8B3627;
    font-size: 230%;
}

div.title
{
    text-align: center;
}

div.title> h1:nth-child(2)
{   
    font-size: 150%;
    font-style: italic;
    font-style: bold;
}

p,li
{
    margin-left: 5px;
}
