caption
{
    color: red;
    font-style: italic
}

td,th
{
    border: 1px solid black;
    padding: 3px 30px;
    
}

table
{
    border-collapse: collapse;
    caption-side: bottom;
    


}

.top
{
    background-color: blue;
    color: white;

}

.none
{
    visibility: hidden;
    border:white;
    color:white;
}

tr.top + tr
{
    background-color: rgb(189, 189, 189);
    color: black
}

tr > th.top + th
{
    background-color:rgb(189, 189, 189);
}

tr > th:first-child
{
    background-color: rgb(189, 189, 189);
}

th[rowspan="3"].top
{
    background: blue;
}

