body {
    background-color: #F2EBE2;
}

.fullscreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.photo {
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: transform 0.6s;
    -moz-transition: transform 0.6s;
    transition: transform 0.6s;
}

.side-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    display: table;
}

.side-back div {
    display: table-cell;
    vertical-align: middle;
    background-color: white;
}

.side-back p {
    padding: 30px;
    color: #8F8476;
    font-family: Helvetica, Arial, sans-serif;
}

.photo.flipped .side-front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.photo.flipped .side-back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
}

figure {
    width: 350px;
    position: absolute;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

figure img {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    /* margin-bottom: 15px;*/
}

figure figcaption {
    font-family: Comic Sans, Comic Sans MS, cursive;
    color: #8F8476;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: black;
    z-index: 999;
}

h1 {
    font-size: 110%;
    color: #ffffff;
}

button {
    background-color: transparent;
    padding: 10px 24px;
    color: #ffffff;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #a00;
    color: white;
}

@media screen and (max-width: 767px) {
    #forkme {
        display: none;
    }
}
